codes/vs/opencv_test/3rdparty
codes/vs/opencv_test/bin32
codes/vs/opencv_test/bin64
codes/vs/opencv_test/ipch

codes/vs/opencv_test/opencv_ocr/Debug
codes/vs/opencv_test/opencv_ocr/Release

codes/vs/opencv_test/opencv_template/Debug
codes/vs/opencv_test/opencv_template/Release

codes/vs/opencv_test/OCR_Dll_OK/Debug
codes/vs/opencv_test/OCR_Dll_OK/Release

codes/vs/opencv_test/ocr_dll_test/Debug
codes/vs/opencv_test/ocr_dll_test/Release


*.sdf
tmp/*
